
body
{
    background: tan ;
}
#barchart
{
    float: left;
      border: 5px solid black;
}

#fieldGoals
{
    float: left;
    border: 5px solid black;
}

#scatterPlot
{
margin: auto;


  width: 50%;
}

#lefttext
{
    float: left;
    width: 300;
}

#righttext
{
  float: right;
     width: 300;
}


.text 
{
    font-size: 9;
}
#tooltip.hidden
{
    display:none;
}
#tooltip
{
    position:absolute;
    width:120px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}
#tooltip2.hidden2
{
    display:none;
}
#tooltip2
{
    position:absolute;
    width:120px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}
#tooltip3.hidden3
{
    display:none;
}
#tooltip3
{
    position:absolute;
    width:120px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}
#attempted
{
  font-size:15;  
}
#made
{
    font-size:15;
}
#attempted2
{
  font-size:15;  
}

#made2
{
    font-size:15;
}
#scatterPlot svg
{
    background-color: dimgray;
}
#scatterPlot .title 
{
    font-size: 30;
}
#scatterPlot .labels 
{
    font-size: 20;
}
#barchart svg
{
    background-color: darkgray
}
#barchart .title 
{
    font-size: 20;
}
#barchart .labels
{
    font-size: 20;
}
#fieldGoals svg
{
    background-color: darkgray
}
#fieldGoals .title
{
    font-size: 20;
}
#fieldGoals .labels 
{
    font-size: 20
}